main.login-container {
  /* margin-inline: var(--size-1600); */
  margin-block: var(--size-2200);
  margin-inline: auto;
  padding: 6rem 3rem;
  display: grid;
  width: min(30rem, 80vw);
  justify-items: center;
  background-color: var(--clr-secondary-rgb);
  border: 0.125rem solid var(--clr-secondary-rgb);
}

h1.header-text {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
}

form.form {
  display: grid;
  gap: 0.5rem;
  width: min(20rem, 70vw);
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

input.input {
  padding: 0.3rem;
  background-color: var(--clr-bg-rgb);
  border-color: var(--clr-bg-rgb);
}

a.link {
  margin: 1rem;
  text-decoration: none;
  text-align: center;
  color: var(--clr-txt-rgb);
  transition: 250ms color;
}
a.link:hover {
  color: var(--clr-primary-rgb);
}

div.button-group {
  display: flex;
  gap: 2rem;
}

button.primary-btn {
  color: var(--clr-txt-rgb);
  cursor: pointer;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  background-color: var(--clr-primary-rgb);
  border-color: var(--clr-primary-rgb);
}

button.secondary-btn {
  color: var(--clr-txt-rgb);
  cursor: pointer;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  background-color: var(--clr-bg-rgb);
  border-color: var(--clr-txt-rgb);
  transition: 250ms background-color;
}
button.secondary-btn:hover {
  background-color: var(--clr-secondary-rgb);
}

/* Mobile Viewport */
@media (max-width: 56.25rem) {
  main.login-container {
    margin: 1rem;
    padding: 1rem;
    margin-bottom: var(--size-2200);
  }
  h1.header-text {
    font-size: 2rem;
  }
  form.form {
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    gap: 1rem;
  }
  label.label {
    font-size: 0.9rem;
  }
  a.link {
    font-size: 0.9rem;
    text-decoration: underline;
    color: var(--clr-primary-rgb);
  }
  button.primary-btn,
  button.secondary-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
