main.communities-component {
  margin-inline: var(--size-1600);
  margin-bottom: 6rem;
  display: grid;
  gap: 15rem;
}

section.search-section,
section.popular-communities,
section.hidden-section {
  display: grid;
  gap: 5rem;
  justify-content: center;
  justify-items: center;
}

h1.main-header-text {
  font-size: 5rem;
  font-weight: 900;
  font-family: Maitree;
  display: grid;
  justify-items: center;
  text-align: center;
  letter-spacing: 0.15rem;
}

h2.header-text {
  font-size: 3rem;
  font-weight: 700;
  font-family: Cairo;
  display: grid;
  justify-items: center;
  text-align: center;
}

p.description-text {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Cairo;
  text-align: center;
}

ul.carousel-container {
  margin-inline: var(--size-1600);
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem;
  position: relative;
}

article.card {
  padding: 2rem 1rem;
  width: min(20rem, 60vw);
  aspect-ratio: 3/2;
  display: flex;
  align-items: center;
  gap: 2rem;
  border: var(--border-400) solid var(--clr-secondary-rgb);
  border-radius: var(--border-1000);
  transition: border 1s;
}

article.card:hover {
  border: var(--border-400) solid var(--clr-primary-rgb);
}

img.card-image {
  --size: min(10rem, 60vw);
  object-fit: cover;
  width: var(--size);
  height: var(--size);
  margin-left: -4rem;
  border-radius: 1rem;
  backdrop-filter: 50%;
}

header.article-title {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

div.author-details {
  display: grid;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

p.author-title {
  font-weight: 100;
  text-align: center;
  margin: 0;
}

span.article-author {
  font-size: 1.15rem;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 56.25rem) {
  main.communities-component {
    margin: 1rem;
    margin-bottom: 6rem;
    gap: 7rem;
  }
  section.search-section,
  section.popular-communities,
  section.hidden-section {
    gap: 2.5rem;
  }
  h1.main-header-text {
    font-size: 2rem;
    letter-spacing: 0;
  }
  h2.header-text {
    font-size: 1.5rem;
  }
  p.description-text {
    font-size: 1rem;
  }
  ul.carousel-container {
    margin: 0;
  }
  article.card {
    flex-direction: column;
    height: min(20rem, 60vw);
    aspect-ratio: 3/2;
  }
  img.card-image {
    align-self: center;
    margin-left: 0;
    margin-top: -4rem;
  }
}
