section.blog-group {
  display: grid;
  align-content: start;
  align-items: start;
  gap: 2rem;
}

div.blog-detailing {
  background-color: var(--clr-secondary-rgb);
  display: grid;
  align-content: flex-start;
  gap: 2rem;
}

article.blog {
  margin: 3rem;
  display: grid;
  gap: 2rem;
}

h1.title {
  font-size: 2.5rem;
  justify-self: center;
}

img.image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

cite.attribution {
  margin: 2rem;
  display: grid;
  justify-self: end;
}

/* Mobile Viewport */
@media (max-width: 56.25rem) {
  section.blog-group {
    justify-items: center;
    margin: 2rem 1rem;
  }
  article.blog {
    margin: 1rem;
    gap: 1.5rem;
  }
  h1.title {
    font-size: 1.5rem;
  }
  cite.attribution {
    margin: 1.25rem;
  }
}
