div.comment-section {
  display: grid;
  gap: 3rem;
  padding: 2.5rem 4rem;
  justify-items: left;
  background-color: var(--clr-secondary-rgb);
}

h3.comment-title {
  display: grid;
  font-size: 2rem;
  justify-self: left;
}

div.comment-list {
  padding-inline: 4rem;
  display: grid;
  gap: 1.5rem;
  justify-self: center;
  width: 100%;
  height: 100%;
}

div.comment {
  display: grid;
  gap: 0.5rem;
}

p.username {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
p.title {
  font-size: 1.5rem;
}
span.message {
  font-size: 1rem;
}

hr.seperator {
  border: 0.0125rem solid var(--clr-txt-rgb);
  display: grid;
  justify-self: center;
  width: min(12rem, 30vw);
}

/* Mobile Viewport */
@media (max-width: 56.25rem) {
  div.comment-section {
    padding: 1.5rem 1rem;
  }
  h3.comment-title {
    font-size: 1.5rem;
  }
  div.comment-list {
    padding: 0;
  }
  p.title {
    font-size: 1.25rem;
  }
  span.message {
    font-size: 0.9rem;
  }
}
