div.interaction-box {
  display: flex;
  gap: 2rem;
  padding: 2rem 4rem;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-secondary-rgb);
}

div.input-grp {
  display: flex;
  gap: 1rem;
}

div.likes-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

span.no-of-likes {
  font-size: 2rem;
}

button.btn,
button.send-btn {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  transition: 1s transform;
}

button.btn:hover,
button.send-btn:hover {
  transform: rotateY(360deg);
}

@keyframes scaleDownUp {
  0%,
  100% {
    font-size: 2rem;
  }
  25%,
  75% {
    font-size: 1.75rem;
  }
  50% {
    font-size: 2.25rem;
  }
}

button.send-btn {
  align-self: end;
}

button.btn:focus > i.icon,
button.send-btn:focus > i.icon {
  animation: 1s scaleDownUp;
}

i.icon {
  font-size: 2rem;
  transition: 500ms color;
}

i.icon:hover {
  color: var(--clr-primary-rgb);
}

div.comment-box {
  display: grid;
  gap: 0.5rem;
}

input.input {
  background-color: var(--clr-secondary-rgb);
}

textarea.textarea {
  background-color: var(--clr-secondary-rgb);
}
