div.blog-detailing {
  margin: 3rem;
  margin-inline: var(--size-1600);
  display: grid;
  justify-content: center;
  gap: 2rem;
  grid-template-columns: 3fr 1fr;
}

/* Mobile Viewport */
@media (max-width: 56.25rem) {
  div.blog-detailing {
    margin: 0;
    margin-bottom: 3rem;
    grid-template-columns: 1fr;
  }
}
