main.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  margin: var(--size-1600);
}

h1.header-text {
  font-family: Maitree;
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  flex-basis: 100%;
  margin-bottom: 4rem;
}

section.personal-info,
section.com-channel,
section.blog-prefer,
section.sub-section {
  width: min(30rem, 90vw);
}

div.block-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

i.header-icon {
  font-size: 2.5rem;
}

h3.sub-header-text {
  font-size: 1.5rem;
}

i.icon {
  font-size: 1.5rem;
}

form.credentials {
  display: grid;
  margin: 0rem 1rem;
  padding: 3rem 4rem;
  gap: 1rem;
  background-color: var(--clr-secondary-rgb);
  border: 0.00625rem solid var(--bs-gray-500);
  border-radius: 0.5rem;
}

div.input-group {
  display: flex;

  gap: 0.5rem;
  align-items: center;
}

input.input,
input.subscription-box {
  flex-grow: 1;
  color: var(--clr-txt-rgb);
  padding: 0.3rem;
  background-color: var(--clr-bg-rgb);
  border-color: var(--clr-bg-rgb);
  border-radius: 0.2rem;
}
input.subscription-box {
  text-align: center;
}

button.btn {
  display: flex;
  align-items: center;
  margin: 0;
  aspect-ratio: 1;
  border-color: transparent;
  background-color: var(--clr-bg-rgb);
  cursor: pointer;
}

a.primary-btn {
  text-decoration: none;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  color: var(--clr-txt-rgb);
  cursor: pointer;
  font-size: 1rem;
  padding: 0.8rem 1.75rem;
  background-color: var(--clr-primary-rgb);
  border-color: var(--clr-primary-rgb);
}

select.select {
  font-size: 1rem;
  padding: 0.3rem;
  color: inherit;
  background-color: var(--clr-bg-rgb);
  border: 0.25rem solid var(--clr-secondary-rgb);
}

select.select:disabled {
  appearance: none;
  color: var(--bs-gray-500);
  background-color: var(--clr-secondary-rgb);
}

/* Mobile Viewport */
@media (max-width: 56.25rem) {
  main.profile-container {
    margin: 0;
    margin-block: 3rem;
  }
  h1.header-text {
    font-size: 3rem;
    margin: 0;
  }
  div.block-wrapper {
    margin: 0;
  }
  i.header-icon {
    font-size: 2rem;
  }
  h3.sub-header-text,
  i.icon {
    font-size: 1.25rem;
  }
  form.credentials {
    justify-content: center;
    margin: 0;
    padding: 1.5rem 1rem;
  }
  label.label,
  select.select,
  p.txt {
    font-size: 0.85rem;
  }
  a.primary-btn {
    font-size: 0.9rem;
    padding: 0.6rem 1.5rem;
  }
}
