@import "https://fonts.googleapis.com/css?family=Maitree";
@import "https://fonts.googleapis.com/css?family=Cairo";

* {
  margin: 0;
  padding: 0;
  font-family: "Cairo";
}

:root {
  --clr-txt: 233, 223, 224;
  --clr-bg: 14, 10, 24;
  --clr-primary: 84, 45, 225;
  --clr-secondary: 36, 31, 49;
  --clr-accent: 164, 58, 203;

  --clr-txt-rgb: #e9dfe0;
  --clr-bg-rgb: #0e0a18;
  --clr-primary-rgb: #542de1;
  --clr-secondary-rgb: #241f31;
  --clr-accent-rgb: #a43acb;

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.25rem;
  --size-600: 1.5rem;
  --size-700: 1.75rem;
  --size-800: 2rem;
  --size-900: 2.25rem;
  --size-1000: 2.5rem;
  --size-1100: 2.75rem;
  --size-1200: 3rem;
  --size-1300: 3.25rem;
  --size-1400: 3.5rem;
  --size-1500: 3.75rem;
  --size-1600: 4rem;
  --size-1700: 4.25rem;
  --size-1800: 4.5rem;
  --size-1900: 4.75rem;
  --size-2000: 5rem;
  --size-2100: 5.25rem;
  --size-2200: 5.5rem;

  --border-100: 0.0625rem;
  --border-200: 0.125rem;
  --border-300: 0.1875rem;
  --border-400: 0.25rem;
  --border-500: 0.3125rem;
  --border-600: 0.375rem;
  --border-700: 0.4375rem;
  --border-800: 0.5rem;
  --border-900: 0.625rem;
  --border-1100: 0.6875rem;
  --border-1200: 0.75rem;
  --border-1300: 0.8125rem;
  --border-1400: 0.875rem;
  --border-1500: 0.9375rem;
  --border-1600: 1rem;
}
