div.navigation-container {
  margin: var(--size-1600);
  display: flex;

  gap: var(--size-600);
  justify-content: space-between;
  align-items: center;
}

a.logo-container {
  all: unset;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  max-height: 6rem;
  align-items: center;
  justify-content: center;
}

img.logo-icon {
  max-height: 4rem;
  max-width: 4rem;
}

p.logo-name {
  margin: 0;
  font-size: 1.5rem;
}

button.nav-toggle {
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
  height: 3rem;
  aspect-ratio: 1;
  padding: var(--size-200);
  background-color: transparent;
  border: var(--border-100) solid var(--clr-txt-rgb);
}

i.icon-hamburger {
  font-size: 2rem;
  color: var(--clr-txt-rgb);
}

i.icon-close {
  display: none;
  font-size: 2rem;
  color: var(--clr-txt-rgb);
}

i.icon-hamburger[icon-visible] {
  display: none;
}
i.icon-close[icon-visible] {
  display: block;
}

nav.navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.navigation-list {
  margin: 0;
  list-style-type: none;
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: var(--size-600);
}

li.navigation-item {
  color: var(--clr-txt-rgb);
}

a.link {
  text-decoration: none;
  color: var(--clr-txt-rgb);
  transition: 250ms color;
}
a.link:hover {
  color: var(--clr-primary-rgb);
}

li.navigation-item:nth-child(1) {
  margin-left: auto;
}

li.navigation-item:nth-child(4) {
  flex-grow: 1;
}

/* Mobile Viewport */
@media (max-width: 56.25rem) {
  div.navigation-container {
    margin: var(--size-800);
  }

  button.nav-toggle {
    /* * NOTE: flex and align-items-center is needed to place bootstrap icon bcoz of bug */
    display: flex;
  }

  nav.navigation-wrapper {
    display: flex;
    opacity: 0;
    position: fixed;
    z-index: -1;
    inset: 7rem var(--size-800) auto;
    background-color: var(--clr-secondary-rgb);
    border: var(--border-100) solid var(--clr-secondary-rgb);
    border-radius: var(--border-400);
    padding-block: 2rem;
    transition: opacity 1s ease, z-index 1ms 1s ease;
  }
  nav.navigation-wrapper[data-visible] {
    opacity: 1;
    z-index: 10;
    transition: opacity 1s 1ms ease, z-index 1ms ease;
  }
  nav.navigation-wrapper[data-visible]::before {
    transform: scale(10);
    background-color: rgba(var(--clr-secondary) / 0.75);
  }
  ul.navigation-list {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  li.navigation-item {
    text-align: center;
  }
  li.navigation-item:nth-child(1) {
    margin-left: 0;
  }
}
