main.home-component {
  margin-inline: var(--size-1600);
  margin-bottom: 6rem;
  display: grid;
  gap: 15rem;
}

/* Hero Section */
section.hero-section,
section.blogs-section,
section.about-section,
section.cta-section {
  display: grid;
  gap: 6rem;
  justify-content: center;
  justify-items: center;
}

section.appeal-section {
  display: flex;
  gap: 6rem;
  justify-content: center;
}

h1.hero-text,
p.cta-text {
  font-size: 5rem;
  font-weight: 900;
  font-family: Maitree;
  display: grid;
  justify-items: center;
  letter-spacing: 0.15rem;
}
p.cta-text {
  font-weight: 600;
}

span.add-cursor-blink {
  position: relative;
}

@keyframes blinking {
  from,
  to {
    background-color: var(--clr-primary-rgb);
  }
  50% {
    background-color: transparent;
  }
}
span.add-cursor-blink:after {
  position: absolute;
  right: -1rem;
  content: "";
  height: 5rem;
  width: 0.25rem;
  background-color: var(--clr-primary-rgb);
  animation: 1s blinking step-end infinite;
}

div.hero-body,
div.appeal-body,
div.blogs-body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

h2.header-text {
  font-size: 3rem;
  font-weight: 700;
  font-family: Cairo;
  display: grid;
  justify-items: center;
}

p.description-text {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Cairo;
  text-align: center;
}

div.card-holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 4rem;
}

article.card {
  padding: 2rem 4rem;
  display: grid;
  gap: 1.25rem;
  justify-items: center;
  align-content: center;
  border: var(--border-300) solid var(--clr-secondary-rgb);
}

header.feature-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

p.feature-text {
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
}

a.cta-btn {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: 1.25rem;
  padding: 2rem 4rem;
  border: var(--border-100) solid var(--clr-txt-rgb);
  border-radius: var(--border-400);
  background-color: var(--clr-primary-rgb);
}

/* Mobile Viewport */
@media (max-width: 56.25rem) {
  main.home-component {
    margin-inline: var(--size-800);
  }
}
