main.blogs-component {
  margin-inline: var(--size-1600);
  margin-bottom: 6rem;
  display: grid;
  gap: 15rem;
}

section.search-section,
section.featured-blogs,
section.popular-blogs,
section.historical-section {
  display: grid;
  gap: 5rem;
  justify-content: center;
  justify-items: center;
}

h1.main-header-text {
  font-size: 5rem;
  font-weight: 900;
  font-family: Maitree;
  display: grid;
  justify-items: center;
  text-align: center;
  letter-spacing: 0.15rem;
}

h2.header-text {
  font-size: 3rem;
  font-weight: 700;
  font-family: Cairo;
  display: grid;
  justify-items: center;
}

p.description-text {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Cairo;
  text-align: center;
}

/* Mobile Viewport */
@media (max-width: 56.25rem) {
  main.blogs-component {
    margin: 1rem;
    margin-bottom: 6rem;
    gap: 7rem;
  }
  section.search-section,
  section.featured-blogs,
  section.popular-blogs,
  section.historical-section {
    gap: 2.5rem;
  }
  h1.main-header-text {
    font-size: 2.5rem;
    letter-spacing: 0;
  }
  h2.header-text {
    font-size: 1.5rem;
  }
  p.description-text {
    font-size: 1rem;
  }
}
