main.community-detailing {
  display: grid;
  gap: 5rem;
  margin: var(--size-1600);
}

section.community-wrapper {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

div.community-details {
  display: grid;
  gap: 1rem;
  align-items: center;
}

h1.community-header {
  font-size: 2.25rem;
  font-weight: 400;
}

img.image {
  --size: min(20rem, 60vw);
  object-fit: cover;
  width: var(--size);
  height: var(--size);
  border-radius: 1rem;
  backdrop-filter: 50%;
}

div.button-group {
  display: flex;
  gap: 1rem;
}

button.primary-btn {
  cursor: pointer;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  background-color: var(--clr-primary-rgb);
  border-color: var(--clr-primary-rgb);
}

button.secondary-btn {
  cursor: pointer;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  background-color: transparent;
  border-color: var(--clr-txt-rgb);
  transition: 250ms background-color;
}
button.secondary-btn:hover {
  background-color: var(--clr-secondary-rgb);
}

ul.carousel-container {
  margin-inline: var(--size-1600);
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  position: relative;
}

article.card {
  padding: 2rem 1rem;
  width: min(20rem, 60vw);
  aspect-ratio: 3/2;
  display: flex;
  gap: 2rem;
  border: var(--border-400) solid var(--clr-secondary-rgb);
  border-radius: var(--border-1000);
  transition: border 1s;
}

article.card:hover {
  border: var(--border-400) solid var(--clr-primary-rgb);
}

img.card-image {
  --size: min(10rem, 60vw);
  object-fit: cover;
  width: var(--size);
  height: var(--size);
  margin-left: -4rem;
  border-radius: 1rem;
  backdrop-filter: 50%;
}

header.article-title {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

div.author-details {
  display: grid;
  align-items: center;
}

p.author-title {
  font-weight: 100;
  text-align: center;
  margin: 0;
}

span.article-author {
  font-size: 1.15rem;
  font-weight: 300;
  text-align: center;
}
/* width: min(25rem, 60vw); */

@media (max-width: 56.25rem) {
  article.card {
    flex-direction: column;
    height: min(20rem, 60vw);
    aspect-ratio: 3/2;
  }
  img.card-image {
    align-self: center;
    margin-left: 0;
    margin-top: -4rem;
  }
}
