main.pricing-component {
  margin-inline: var(--size-1600);
  margin-bottom: 6rem;
  display: grid;
  justify-content: center;
  gap: 15rem;
}

dialog.modal {
  /* font-size: 1rem; */
  z-index: 5;
  max-width: 100vw;
  max-height: 100vh;
  margin: auto;
  padding: 2em 4em;
  background-color: var(--clr-secondary-rgb);
}
i.success-icon {
  display: block;
  padding: 0;
  font-size: 7em;
  color: var(--clr-primary-rgb);
}
h2.modal-header {
  font-size: 2em;
}
p.modal-task {
  font-size: 1.5em;
}

i.success-icon,
h2.modal-header,
p.modal-task,
div.modal-action-group {
  margin-block: 1.5rem;
  text-align: center;
}
p.order-detail {
  margin: 1em 0;
}
div.modal-action-group {
  display: flex;
  gap: 2em;
}
a.profile-btn {
  text-decoration: none;
  display: grid;
  align-content: center;
  padding: 1em 2em;
  background-color: transparent;
  border: 0.0625rem solid var(--clr-txt-rgb);
  color: var(--clr-txt-rgb);
}
button.done-btn {
  padding: 1em 2em;
  background-color: var(--clr-primary-rgb);
  color: var(--clr-txt-rgb);
}

section.pricing-card-section {
  display: grid;
  gap: 3.5rem;
  justify-content: center;
  justify-items: center;
}

h1.header-text {
  font-size: 3rem;
  font-weight: 700;
  font-family: Maitree;
  display: grid;
  justify-items: center;
  text-align: center;
}

p.description-text,
p.table-description {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Cairo;
  text-align: center;
}

p.title-text {
  font-size: 1.125rem;
  font-weight: 500;
  font-family: Cairo;
  text-align: center;
}

label.switch {
  font-size: 1.2em;
  width: 16em;
  height: 4em;
  position: relative;
  display: flex;
  border: 0.0625em solid var(--clr-txt-rgb);
  border-radius: 2em;
  cursor: pointer;
}

label.switch input {
  appearance: none;
}
label.switch input:focus {
  outline: none;
}
input:focus + div.slider {
  outline-color: Highlight;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 5px;
  border-radius: 2em;
}

div.slider {
  display: flex;
  gap: 3em;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

div.slider::before {
  z-index: -1;
  position: absolute;
  content: "";
  height: 3em;
  width: 7em;
  top: 0.5em;
  left: 0.5em;
  background-color: var(--clr-primary-rgb);
  border-radius: 2em;
  transition: 500ms transform;
}
input:checked + div.slider::before {
  transform: translateX(8em);
}

a.btn {
  font-size: 0.8rem;
  text-decoration: none;
  background-color: var(--clr-bg-rgb);
  border: 0.0625rem solid var(--clr-txt-rgb);
  color: var(--clr-txt-rgb);
  cursor: pointer;
  border-radius: 0.125rem;
  padding: 0.5rem 1rem;
}

button.btn {
  color: var(--clr-secondary-rgb);
  background-color: var(--clr-bg-rgb);
  border: 0.0625rem solid var(--clr-txt-rgb);
  color: var(--clr-txt-rgb);
  cursor: pointer;
  border-radius: 0.125rem;
  padding: 0.5rem 1rem;
}
a.btn:hover,
button.btn:hover {
  background-color: var(--clr-secondary-rgb);
}

span.txt {
  color: var(--clr-secondary-rgb);
}

div.card-holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 2rem;
}

article.card {
  padding: 1.2rem 1.75rem;
  display: grid;
  gap: 1.25rem;
  justify-items: center;
  align-content: start;
  border: var(--border-300) solid var(--clr-secondary-rgb);
}

header.header {
  display: grid;
  justify-self: start;
}

p.feature-text {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: start;
}

p.feature-title,
li.feature-item {
  font-size: 1rem;
  font-weight: 300;
}
p.feature-title {
  justify-self: start;
  text-align: start;
}

aside.table-container {
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 5rem;
}

@media (max-width: 56.25rem) {
  main.pricing-component {
    margin: 1rem;
    margin-bottom: 6rem;
    gap: 7rem;
  }
  dialog.modal {
    font-size: 0.6rem;
    padding: 0.5rem 1rem;
  }
  section.pricing-card-section {
    gap: 2.5rem;
  }
  h1.header-text {
    font-size: 1.5rem;
  }
  p.title-text,
  p.description-text,
  p.table-description {
    font-size: 1rem;
  }
  label.switch {
    font-size: 0.8rem;
  }
  div.card-holder {
    grid-template-columns: 1fr;
  }
}
