ul.carousel-container {
  list-style-type: none;
  margin: 4rem;
  padding: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  background-color: var(--clr-secondary-rgb);
  border: 0.125rem solid var(--clr-secondary-rgb);
  border-radius: 0.5rem;
}

article.card {
  padding: 2rem 1rem;
  width: min(20rem, 60vw);
  aspect-ratio: 3/2;
  display: flex;
  align-items: center;
  gap: 2rem;
  border: var(--border-400) solid var(--clr-secondary-rgb);
  border-radius: var(--border-1000);
  transition: border 1s;
  background-color: var(--clr-bg-rgb);
}

article.card:hover {
  border: var(--border-400) solid var(--clr-primary-rgb);
}

img.card-image {
  --size: min(10rem, 60vw);
  object-fit: cover;
  width: var(--size);
  height: var(--size);
  margin-left: -4rem;
  border-radius: 1rem;
  backdrop-filter: 50%;
}

header.article-title {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}

p.title-header {
  font-weight: 100;
  text-align: center;
  margin: 0;
}

div.author-details {
  display: grid;
  gap: 0.5rem;
  align-items: center;
  justify-items: center;
}

div.action-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

select.select {
  color: var(--clr-txt-rgb);
  padding: 0.25rem 0.5rem;
  border-color: var(--clr-txt-rgb);
  background-color: var(--clr-bg-rgb);
}

button.action-btn {
  padding: 0.25rem;
  color: var(--clr-primary-rgb);
  border-color: var(--clr-primary-rgb);
  background-color: transparent;
  aspect-ratio: 1;
}

i.icon {
  font-size: 1rem;
  display: flex;
  color: var(--clr-primary-rgb);
}

@media (max-width: 56.25rem) {
  article.card {
    flex-direction: column;
    height: min(20rem, 60vw);
    aspect-ratio: 3/2;
  }
  img.card-image {
    align-self: center;
    margin-left: 0;
    margin-top: -4rem;
  }
}
