main.myblogs-container {
  margin-inline: var(--size-1600);
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 1rem;
}

div.button-group {
  display: flex;
  gap: 2rem;
}

a.primary-btn {
  text-decoration: none;
  color: var(--clr-txt-rgb);
  cursor: pointer;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  background-color: var(--clr-primary-rgb);
  border: 0.125rem solid var(--clr-primary-rgb);
}

a.secondary-btn {
  text-decoration: none;
  color: var(--clr-txt-rgb);
  cursor: pointer;
  font-size: 1.1rem;
  padding: 1rem 2rem;
  background-color: transparent;
  border: 0.125rem solid var(--clr-txt-rgb);
  transition: 250ms background-color;
}
a.secondary-btn:hover {
  background-color: var(--clr-secondary-rgb);
}

section.blogs-container {
  margin: 2rem;
  display: grid;
  gap: 2rem;
  justify-items: center;
}

h2.header-text {
  font-size: 3rem;
  font-family: Maitree;
  font-weight: 700;
}

a.create-btn-mob {
  text-decoration: unset;
  display: none;
  font-size: 1.2rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border: 0.125rem solid var(--clr-secondary-rgb);
  border-radius: 5px;
  color: var(--clr-txt-rgb);
  background-color: var(--clr-primary-rgb);
}

select.select {
  height: 3.5rem;
  border: none;
  overflow: hidden;
  background-color: transparent;
  outline: none;
}

option.option {
  /* width: 60px; */
  font-size: 1.2em;
  padding: 1rem 2rem;
  text-align: center;
  margin-inline: 1rem;
  display: inline-flex;
  cursor: pointer;
  border: 0.125rem solid var(--clr-secondary-rgb);
  border-radius: 5px;
  color: var(--clr-txt-rgb);
}

option.option:focus {
  outline: none;
  background-color: transparent;
}

div.action-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

a.create-btn {
  text-decoration: none;
  background-color: transparent;
  border: 0.125rem solid var(--clr-txt-rgb);
  border-radius: 100%;
  aspect-ratio: 1;
  cursor: pointer;
  transition: 500ms border-color, 500ms transform;
}

i.create-icon {
  display: flex;
  font-size: 3rem;
  color: var(--clr-txt-rgb);
  transition: 500ms color;
}

a.create-btn:hover {
  border-color: var(--clr-primary-rgb);
  transform: rotate(90deg);
}
i.create-icon:hover {
  color: var(--clr-primary-rgb);
}

option.option:checked {
  color: var(--clr-primary-rgb);
  background-color: var(--clr-bg-rgb);
  border: 0.125rem solid var(--clr-primary-rgb);
}

/* Mobile Viewport */
@media (max-width: 56.25rem) {
  main.myblogs-container {
    margin: 0;
    margin-block: 3rem;
  }
  section.blogs-container {
    margin: 0;
  }
  h2.header-text {
    font-size: 2.5rem;
  }
  option.option {
    margin-inline: 0.25rem;
  }
  a.create-btn-mob,
  option.option {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }
  a.create-btn-mob {
    display: block;
  }
  a.create-btn {
    display: none;
  }
}
